/* ===== AUTOMATIC ACTIVE NAVIGATION ===== */

.links a {
  position: relative;
  transition:
    color 0.25s ease,
    text-shadow 0.25s ease;
}

.links a:hover {
  color: #ffffff;
}

.links a.active {
  color: #ed49ff;
  font-weight: 700;
  text-shadow: 0 0 12px rgba(237, 73, 255, 0.35);
}

.links a.active::after {
  content: "";
  position: absolute;

  left: 0;
  right: 0;
  bottom: -10px;

  height: 2px;

  background: #ed49ff;
  border-radius: 10px;

  box-shadow:
    0 0 6px rgba(237, 73, 255, 0.8),
    0 0 12px rgba(237, 73, 255, 0.35);
}
